In [12]:
#READ THE CSV FILE 
import pandas as pd
import numpy as np

df = pd.read_csv("https://cse331.netlify.app/assignment1/customer_data.csv")
# VIEW THE FIRST FIVE ROWS OF THE DATA
df.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [13]:
#number of rows and columns
df.shape

(30000, 20)

In [19]:
#maximum min and mean of age of customers
df["age"].agg(["mean","min","max"])

mean    41.550067
min     18.000000
max     65.000000
Name: age, dtype: float64

In [27]:
#most common three names
df["name"]=df["prefix"].astype(str)+" "+df["first"].astype(str)+" "+df["last"].astype(str)
df["name"].value_counts(sort="desc").head(3)

name
Mr. Callie McCormick    3
Mrs. Pauline Bowers     3
Dr. Gavin Walsh         2
Name: count, dtype: int64

In [37]:
#customers with same phone number
df.loc[df['phone'].duplicated(keep=False),['phone','name']]


#df[df["phone"].duplicated()==True]

             phone              name
15  (263) 382-8004  Mrs. Lilly Tyler
16  (263) 382-8004   Mrs. Peter Cain

In [52]:
#number of structural engineers
(df["profession"]=="Structural Engineer").sum()

In [49]:
#number of male sturture engineers
((df["gender"]=="Male")&(df["profession"]=="Structural Engineer")).sum()

np.int64(43)

In [51]:
#female structural engineers lives in alberta
df[(df["gender"]=="Female")&(df["profession"]=="Structural Engineer")&(df["province"]=="AB")]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name,phone_counts
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,...,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903,Dr. Roy Stanley,NaN
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,...,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028,Mr. Lora Kennedy,NaN
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,...,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951,Mrs. Nell Richards,NaN
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,...,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989,Mrs. Don McDaniel,NaN

In [53]:
#average spending amount min max mean 
df["price(CAD)"].agg(["min","max","mean"])

min       0.000000
max     100.000000
mean     49.990775
Name: price(CAD), dtype: float64

In [54]:
#Who did not spend anything
df[df["price(CAD)"]==0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name,phone_counts
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,...,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900,Dr. Bruce Bryan,NaN
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,...,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904,Mrs. Flora Clark,NaN

In [56]:
#who spent 100 cad or more 
df.loc[df["price(CAD)"]>=100,["name"]]

                        name
76        Mrs. Gregory Brown
21093  Mrs. Cody Christensen
24385      Miss Lizzie Dixon

In [57]:
#email with credit card number
df.loc[df['cc_no'] == 5020000000000230,['email']]

             email
0  sebvajom@kol.km
1    acu@jatsot.ug

In [58]:
#expiring in 2019
df['cc_exp'] = pd.to_datetime(df['cc_exp'], format='%m/%Y', errors='coerce')
df['cc_exp'].dt.year
[(df['cc_exp'] < '2019-01').sum()]

[np.int64(2691)]

In [59]:
#use visa card
(df['cc_type'] == 'Visa').sum()

np.int64(1721)

In [62]:
#customers spent 100 cad using visa
df.loc[(df["cc_type"]=="Visa")&(df["price(CAD)"]==100),"name"]

76    Mrs. Gregory Brown
Name: name, dtype: object

In [63]:
#two most common profession
df["profession"].value_counts(sort="desc").head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [64]:
#most famous emailproviders
df['email_domain'] = df['email'].str.split('@').str[1]
df['email_domain'].value_counts().head(5)

email_domain
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [66]:
#emails with am.edu
df.loc[(df['email_domain'] == 'am.edu'),['name']]

                      name
150  Miss Loretta Fletcher

In [67]:
#which day have most customers
df['weekday'].value_counts().head(1)

weekday
Saturday    4376
Name: count, dtype: int64